

PORT=3000


###### BLOCKCHAIN VARIABLES ########

CONNECTION_PROFILE=blockchain_local.json
MSPID=Org1MSP
CA_URL=http://localhost:17050
DISCOVERY=true
ISLOCAL=true
CHAINCODE_NAME=chaincode
SMART_CONTRACT_NAME=PatientContract
CHANNEL=mychannel
CA_ADMIN_USER=admin
CA_ADMIN_PASSWORD=adminpw


OBJECT_STORAGE_CREDENTIALS=object_storage.json
BUCKET_NAME=mybucket


POSTGRES_CREDENTIALS=postgres.json
